
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@0200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

on & Mission*,
*::before,
*::after {
    -webkir-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}
:root {
    --bg-white: white;
    --bg-dark-color:#03262c;
    --primary-text: #061738;
    --secondry-color: #60cd12;
    --light-color: #2f6de; 
    --dark-color:#03262c;
    --text-white: #fff;
    --text-gray: #dee2e6;
    --anchor-color:#007aff;

    --primary-font: 'Barlow Condensed', sans-serif;
    --secondry-font: 'Roboto',sans-serif;
}
body,
html {
    color:var(--primary-text);
    font-size: 10px;
    font-weight: 400;
    font-family: var(--primary-font);
    scroll-behavior: smooth;
    line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;

}
h1{
    font-size: 9rem;
    line-height: 1.4;
    font-weight: 600;
    color: var(--primary-text);
}
h2 {
    color: var(--primary-text);
    font-size: 4.7rem;
    font-weight: 600;
    display: inline-block;
    text-transform: capitalize;
    line-height: 1.2;
    margin-bottom: 2rem;
}
h3 {
    color: var(--text-white);
    font-size: 3.1rem;
    font-weight: 700;

}
h4{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    color: var(--primary-text);

}
h5 {
    font-size:1.8rem;
    font-weight: 600;
    line-height: 1;
    color: var(--primary-text);

}
p {
    font-size: 1.6rem;
    line-height: 1.6;
    margin-top: 1rem;
    color: var(--primary-text);
    font-family: var(--secondry-font);
}
embed,
iframe,
object {
    max-width: 100%;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a,
a:active,
a:focus,
a:hover,
button{
    text-decoration: none;
    outline: 0;
}
li a{
    color: var(--text-white);
}
a:hover,
button:hover {
    -webkit-transition:all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track{
    background: var(--white);
}
::-webkit-scrollbar-thumb{
    background: var(--secondry-color);
}
 .main-btn{
    position: relative;
    color: var(--bg-white);
    background:linear-gradient(to right,#0f7404,4#5cb917);
    z-index: 1;
    overflow: hidden;
    border: 0,2rem solid var(--bg-white);
    border-radius: 3.5rem;
    text-transform: uppercase;
    padding: 1rem 3.5rem;
    font-weight: 600;
    font-size: 1.8rem;
    margin-top: 1.5rem;
    letter-spacing: 0.2rem;

}
.main-btn:hover{
    background: var(--dark-color);
    color: var(--secondry-color);
     border: 0.2rem solid var(--secondry-color);
}

section{
    padding: 5rem 0;
}
.section-title{
    font-size: 4rem;
    font-weight: 600;
    color: var(--primary-text);
    text-transform: capitalize;
    margin-bottom: 2rem;

}
.section-subtitle{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-text);
    font-family: var(--secondry-font);
    max-width: 40%;
    margin: auto;
    margin-bottom: 1.5rem;

}
.about .banner_section,
.services .banner_section,
.industries .banner_section,
.pricing .banner_section,
.help-guid .banner_section,
.contact .banner_section,
.hirearesearchassistan .banner_section{
    background:url('images/banner1.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom:10rem;
    min-height: auto; 


}
.header{
    position: absolute;
    width: 100%;
    top: 2rem;
    left: 0;
    z-index: 2;

}
.header .navbar{
    background: url('../images/header-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 2rem 5rem;

}
.header .navbar-brand{
    width: 7.5rem;
    margin-top: -0.1rem;
}
.header .navbar-brand img{
    width: 8.5rem;
}
.header .navbar-nav .nav-link{
    color: var(--text-white);
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight:  600;
    padding: 0.5rem 2rem;
    margin: 0 0.2rem;
    font-family: var(--primary-font);
}
.header .navbar-nav .nav-link:hover,
header .navbar-nav .nav-link:active{
    color: var(--secondry-color);
} 
.header .navbar-toggler{
    color: var(--text-white);
    font-size: 2rem;
    height: 2.7rem;
    padding: 0;

}
.header .navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}
.header .header_right span{
    color: var(--secondry-color);
    display:block;
    font-weight: 700;
    font-size: 1.4rem;
    margin-right: 1rem;

}
.header .header_right .phone_no{
    color: var(--text-white);
    font-size: 1.6rem;
}
.header-scrolled{
    position:fixed;
    top: -0.4rem;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1320px;
    margin: auto;
    z-index: 999;
    transition: 0.3s all ease-in-out;


}
/* Banner section */
.banner_section{
    background: url('../images/banner.avif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 90vh;

}
.banner-section{

    background: url('../images/banner.avif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 90vh;

}


.banner_section .carousel-item{
    padding: 3rem 0;
    height: 90vh;

}
.banner_section .carousel-caption{
    top: 30%;
    bottom: 0;
    left: 3%;
    right: 0;
    text-align: left;
    width: 100%;


}
.banner_section .carousel-caption h3{
    padding: 0.5rem 1.5rem;
    background-color: var(--dark-color);
    display: inline;
}


/*feature Css*/
.feature_section .feature-box .feature-icon img{
    width: 6rem;
   }
   /* about section */

.landing_about_section{
    background: url("../images/about1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  center center;
    padding: 9rem 0;
}
.landing_about_section p{
    color: var(--primary-text);
    margin: 2rem;
}
.landig_our_mentors .mentor{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: 0.2rem solid var(--light-color); 
    padding:  2rem 1rem;
    transition: all 0.3s;


}
.landig_our_mentors .mentor .mentor-img{
    margin-bottom: 6rem;
    text-align: center;
}
.landig_our_mentors .mentor h3{
    color: var(--primary-text);
}
.landig_our_mentors .mentor p{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--secondry-color);
    text-decoration:none;
    transition: all 0.3s;
}
.landig_our_mentors .mentor .mentor-detail{
    position: absolute;
    bottom: -22rem ;
    right: 0;
    left: 0;
    text-align: center;
    padding: 5rem 1rem;
    background-color: var(--dark-color);
    transition: all 0.5s ease;;
}
.landig_our_mentors .mentor:hover .mentor-detail{
    bottom: 0;
}
.testimonial_section{
    color: var(--light-color);
    padding-bottom: 8rem;

}
.testimonial_section h2{

  text-align: center;

}



.testimonial_section .carousel-indicators{

    bottom: 6rem;

}
.testimonial_section .carousel-indicators button{
    background-color: var(--dark-color);
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
}
.testimonial_section .card{

    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: right;
    padding: 5rem 5rem 0;
    border-radius: 0 .5rem .5rem 0;
    border: 0.1rem solid transparent;

} 
.testimonial_section .profile-box{
    padding: 1.875rem;
    background-color: var(--dark-color);
    border-radius: 5rem 0 0.8rem;
}
.testimonial_section .profile-box img{
    border-radius: .625rem 3.125rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.testimonial_section .desc-box{
    padding: 2.5rem;
}
.footer_wrapper{
    background: url("../images/footer_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 15rem;
    padding-bottom: 0rem;

}
.footer_wrapper h5{
    color: var(--text-white);
    font-size: 2.5rem;
    margin-bottom: 1.25rem;

}
.footer_wrapper ul li{
    margin-bottom: 0.5rem;
    list-style: none;
}
.footer_wrapper .about_det{

     font-size: 1.4rem;
}
.footer_wrapper .contact-info li a{
    color: var(--text-gray);
    font-size: 1.6rem;
}
.footer_wrapper .link-widget li a,
.footer_wrapper p{

    color: var(--text-gray);
    font-size: 1.6rem;
    padding-left: 1.5rem;
    position:relative;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;

}
.footer_wrapper .link-widget li a:before{
  content: '\f105';
  font-family: "font Awesome 5 free";
  font-weight: 900;
  position: absolute;
  left: 0.3rem;
 -webkit-transform: translate(-50%);
  transform: translate(-50%);
}
.footer_wrapper .link-widget li a:hover{

  margin-left:.625rem;
  color: var(--secondry-color);
}
.footer_wrapper .social-network a{
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.2rem;
    margin: 5rem;
    display: inline-block;
    border: 0.125rem solid var(--text-gray);
    color: var(--text-gray);
    text-align: center;
    font-size: 1.2rem;
    border-radius: 100%;
    -webkit-transition: all 0.3s cubic-bezier(0.645,0.045,0.355,1);
    transition: all 0.3s cubic-bezier(0.645,0.045,0.355,1);
}
.footer_wrapper .social-network a:hover{
   background-color: var(--secondry-color);
   border-color: var(--secondry-color);
   color: var(--text-white);
   box-shadow: 0 0.625rem .9375rem 0 rgb(0 0 0/10%);
   transform: translateY(-0 .1875rem) ;
}
.footer_wrapper .form-control{
    font-size: 2rem;
    color: var(--text-white);
}
.footer_wrapper .form-control:focus{

        outline: none;
        box-shadow: none;
        border-color:var(--secondry-color) ;
}
.footer_wrapper .copyright-section{
    background-color: var(--secondry-color);
    text-align: center;
    margin-top: 5rem;

}
.footer_wrapper .copyright-section p{
   margin-top: 0;
   padding: 3rem 0;
   line-height: 0;
      
}
.footer_wrapper .copyright-section a{
    color: var(--primary-text);
    font-weight: 6008;
}

/* About section */
.about .about-details p{
    color: var(--primary-text);

}
/* Industrial section*/



   



